/* index.html */

/*for the colorpicker...*/
.ui-colorpicker-container input {
	width: 35px;
}

.ui-growl{
   top:45px;
}
.search-large{
   height: 150px;
}
.search-center{
   margin-top: 10px;
}
.navbar-large{
	padding: 15px;
}
.valign{
	vertical-align: middle;
}
