<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
	    
	    <ui:composition template="/sites/templates/master_template.xhtml"><ui:define name="content">
 
			<div class="hero-unit hero-bg">
	            <div class="well span4 offset3 text-center">
	            	<form>
	                    <input class="search-center" type="text" placeholder="search me"/>
	                    <button class="btn btn-primary btn-large" type="button">Search</button>
	                </form>
	            </div>
	        </div>
	        <div class="row-fluid">
	            <div class="well well-large span12 text-center">
	            	<h2>Sign up now and become a Premium Member for free!</h2>
	                <form>
	                    <input class="search-center" type="text" placeholder="your@email.com"/>
	                    <button class="btn btn-primary btn-large" type="button">Signup</button>
	                </form>
	            </div>
	        </div>
	        <div class="row-fluid">
				<ul class="thumbnails">
	                <li class="span4">
	                    <div class="thumbnail">
	                        <img alt="300x200" data-src="holder./GenPlace/resources/js/300x200" style="width: 300px; height: 200px;" src="img/thumb1.jpg"/>
	                        <div class="caption">
	                            <h3>Thumbnail label</h3>
	                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
	                            <p>
	                                <a href="#">Learn more &raquo;</a>
	                            </p>
	                        </div>
	                    </div>
	                </li><li class="span4">
	                    <div class="thumbnail">
	                        <img alt="300x200" data-src="holder./GenPlace/resources/js/300x200" style="width: 300px; height: 200px;" src="img/thumb1.jpg"/>
	                        <div class="caption">
	                            <h3>Thumbnail label</h3>
	                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
	                            <p>
	                                <a href="#">Learn more &raquo;</a>
	                            </p>
	                        </div>
	                    </div>
	                </li><li class="span4">
	                    <div class="thumbnail">
	                        <img alt="300x200" data-src="holder./GenPlace/resources/js/300x200" style="width: 300px; height: 200px;" src="img/thumb1.jpg"/>
	                        <div class="caption">
	                            <h3>Thumbnail label</h3>
	                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
	                            <p>
	                                <a href="#">Learn more &raquo;</a>
	                            </p>
	                        </div>
	                    </div>
	                </li>
				</ul>
	        </div>
	        <div class="row-fluid">
				<ul class="thumbnails">
	                <li class="span4">
	                    <div class="thumbnail">
	                        <img alt="300x200" data-src="holder./GenPlace/resources/js/300x200" style="width: 300px; height: 200px;" src="img/thumb1.jpg"/>
	                        <div class="caption">
	                            <h3>Thumbnail label</h3>
	                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
	                            <p>
	                                <a href="#">Learn more &raquo;</a>
	                            </p>
	                        </div>
	                    </div>
	                </li><li class="span4">
	                    <div class="thumbnail">
	                        <img alt="300x200" data-src="holder./GenPlace/resources/js/300x200" style="width: 300px; height: 200px;" src="img/thumb1.jpg"/>
	                        <div class="caption">
	                            <h3>Thumbnail label</h3>
	                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
	                            <p>
	                                <a href="#">Learn more &raquo;</a>
	                            </p>
	                        </div>
	                    </div>
	                </li><li class="span4">
	                    <div class="thumbnail">
	                        <img alt="300x200" data-src="holder./GenPlace/resources/js/300x200" style="width: 300px; height: 200px;" src="img/thumb1.jpg"/>
	                        <div class="caption">
	                            <h3>Thumbnail label</h3>
	                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
	                            <p>
	                                <a href="#">Learn more &raquo;</a>
	                            </p>
	                        </div>
	                    </div>
	                </li>
				</ul>
	        </div>
 
	    </ui:define></ui:composition>
	    
    </body>
</html>