<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<title>GenPlace</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<link href="/GenPlace/resources/css/override.css" rel="stylesheet"
		type="text/css" />
	
	<!-- Le facet styles -->
	<f:facet name="first">
		<h:outputStylesheet name="css/bootstrap.min.css"></h:outputStylesheet>
		<h:outputStylesheet name="css/bootstrap-responsive.min.css"></h:outputStylesheet>

		<h:outputScript name="js/bootstrap.min.js" />
		<h:outputScript name="js/jquery.js" />
	</f:facet>

	<h:outputStylesheet name="css/override.css"></h:outputStylesheet>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons
		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	-->
</h:head>
<h:body>
	<f:view>

		<ui:insert name="metadata" />

		<ui:insert name="navbar">
			<p:outputPanel id="navbar">
			<ui:include src="/sites/templates/navbar.xhtml" />
			</p:outputPanel>
		</ui:insert>
	
		<ui:insert name="alert">
			<ui:include src="/sites/templates/alert.xhtml" />
		</ui:insert>

		<div class="container">

			<ui:insert name="content" />

			<hr />

			<ui:insert name="footer">
				<ui:include src="/sites/templates/footer.xhtml" />
			</ui:insert>

		</div>

	</f:view>
</h:body>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<h:outputScript value="/GenPlace/resources/js/bootstrap.min.js" />
<h:outputScript value="/GenPlace/resources/js/jquery.js" />
</html>
