<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>GenPlace</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Le facet styles -->
	<f:facet name="first">
		<h:outputStylesheet name="css/bootstrap.min.css"></h:outputStylesheet>
		<h:outputStylesheet name="css/bootstrap-responsive.min.css"></h:outputStylesheet>

		<h:outputScript name="js/bootstrap.min.js" />
		<h:outputScript name="js/jquery.js" />
	</f:facet>

	<h:outputStylesheet name="css/override.css"></h:outputStylesheet>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<!-- Le fav and touch icons
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
-->
</h:head>
<h:body>

	<ui:composition id="navbar">

		<div id="navbar" class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner navbar-large">
				<div class="container">
					<a class="brand" href="/GenPlace/site/master/index.xhtml">Genplace</a>
					<ul class="nav">
						<li><a id="Buy" href="/GenPlace/site/product/search_product.xhtml">Buy</a></li>
						<li><a href="/GenPlace/site/product/product_wizard.xhtml">Sell</a></li>
					</ul>
					<h:form class="navbar-form pull-left">
						<div class="input-append offset1">
							<h:inputText value="#{productSearchServiceGet.keywordsParameter}" styleClass="span4"
								placeholder="put search terms here" />
							<h:commandLink action="#{productSearchServiceGet.redirectToProductSearch()}" class="btn">
								<li class="icon-search"></li>
							</h:commandLink>
						</div>
					</h:form>
					<ul class="nav pull-right">
<!-- 						<li class="dropdown"><a class="dropdown-toggle" -->
<!-- 							data-toggle="dropdown" href="#"> How to <b class="caret"></b> -->
<!-- 						</a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li class="nav-header">Buying</li> -->
<!-- 								<li><a href="#">Buying 1</a></li> -->
<!-- 								<li><a href="#">Buying 2</a></li> -->
<!-- 								<li><a href="#">Buying 3</a></li> -->
<!-- 								<li class="divider"></li> -->
<!-- 								<li class="nav-header">Selling</li> -->
<!-- 								<li><a href="#">Selling 1</a></li> -->
<!-- 								<li><a href="#">Selling 2</a></li> -->
<!-- 								<li><a href="#">Selling 3</a></li> -->
<!-- 							</ul></li> -->
						
						<h:panelGroup rendered="#{genPlaceUserService.isCurrentUserAdmin()}">
							<li><h:link outcome="/site/admin/dashboard.xhtml"><h:outputText value="#{lang['general.navbar.admin']}" /></h:link></li>
						</h:panelGroup>	
						
						<h:panelGroup
							rendered="#{empty genPlaceUserService.getLoggedInUser()}">
							<li><a href="/GenPlace/site/user/login.xhtml">Login</a></li>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{empty genPlaceUserService.getLoggedInUser()}">
							<li><a href="/GenPlace/site/user/signup.xhtml">Signup</a></li>
						</h:panelGroup>
						<h:panelGroup  
							rendered="#{not empty genPlaceUserService.getLoggedInUser()}" >
							<li><a id="Basket" href="/GenPlace/site/payment/watchlist.xhtml">Watchlist(#{watchListService.getWatchlistSize(genPlaceUserService.getLoggedInUser())})</a></li>
						</h:panelGroup>
						<h:panelGroup  
							rendered="#{not empty genPlaceUserService.getLoggedInUser()}" >
							<li><a id="Basket" href="/GenPlace/site/payment/basket.xhtml">Basket(#{basketService.getBasketSize(genPlaceUserService.getLoggedInUser())})</a></li>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{not empty genPlaceUserService.getLoggedInUser()}">
							<li><a href="/GenPlace/site/user/user_private.xhtml">Profile</a></li>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{not empty genPlaceUserService.getLoggedInUser()}">	
							<li style="margin-top: 10px; margin-bottom: -10px; margin-left: 5px; margin-right: 5px;">
								<h:form>
									<h:commandLink value="Logout" action="#{genPlaceUserService.logout}" />						
<!-- 									<p:commandButton  type="submit" id="submitButton" -->
<!-- 										action="#{genPlaceUserService.logout}" value="Logout" -->
<!-- 										styleClass="btn btn-primary btn-small"> -->
<!-- 									</p:commandButton> -->
								</h:form>
							</li>			
						</h:panelGroup>
					</ul>
				</div>
			</div>
		</div>

	</ui:composition>

</h:body>
</html>