<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Testpage</title>
	</h:head> 
	<body> 
		<h1>Welcome to the Testpage!</h1>
		<h:form id="testForm">
			<p:messages autoUpdate="true" globalOnly="true" showSummary="true" showDetail="true" />
			
			<p>Text: <h:inputText id="testText" value="#{testService.instance.text}" /></p>
			<p:messages autoUpdate="true" globalOnly="false" showSummary="true" showDetail="true" for="testForm:testText" />
			<h:commandButton value="Save" action="#{testService.persistInstance()}" />
		</h:form>
		
		<ui:repeat var="test" value="#{testService.getEntities()}">
			<p>
				Someone wrote: <h:outputText value="#{test.text}" />
			</p>
		</ui:repeat>
	</body> 
</html>
