<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<meta charset="utf-8" />
</h:head>

<h:body>

<ui:composition template="/sites/public/template/masterTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	
	
	<ui:define name="style">
		<style type="text/css">
			.hero {
				margin: 20px 0;
				padding: 40px;
				border: 1px solid #222;
				font-family: headingFont;
				background-image: url('/GenPlace/resources/img/placeholder/search-bg.png');
				background-size: cover;
			}
			
			.hero h1 {
				text-align: center;
				font-size: 80px;
			}
			
			.hero-inner {
				padding: 20px 40px;
				border: 1px solid #222;
				background-color: rgba(0, 0, 0, .85);
				color: #fff;
				font-size: 32px;
			}
		</style>
	</ui:define>
	
	
	<ui:define name="content">
	
		<div class="row hero">
			<div class="hero-inner">
				<h1>Clothes</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis, quam non blandit mollis, 
					nunc neque cursus ipsum, quis imperdiet mi elit tincidunt nulla. Aenean molestie urna id elit suscipit porta.
				</p>
			</div>
		</div>
	
		<div class="row search-row">
			<div class="col-lg-4 search-wrapper">
				<div class="search-item"
					style="background-image: url('/GenPlace/resources/img/placeholder/product1.jpg'); background-size: cover;">
					<div class="item-description">
						<h3>
							<a href="#">Cool Product - 40,00 &euro;</a>
						</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 search-wrapper">
				<div class="search-item"
					style="background-image: url('/GenPlace/resources/img/placeholder/product2.jpg'); background-size: cover;">
					<div class="item-description">
						<h3>
							<a href="#">Cool Product - 40,00 &euro;</a>
						</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 search-wrapper">
				<div class="search-item"
					style="background-image: url('/GenPlace/resources/img/placeholder/product3.jpg'); background-size: cover;">
					<div class="item-description">
						<h3>
							<a href="#">Cool Product - 40,00 &euro;</a>
						</h3>
					</div>
				</div>
			</div>
		</div>

		<!-- Example row of columns -->
		<div class="row search-row">
			<div class="col-lg-4 search-wrapper">
				<div class="search-item"
					style="background-image: url('/GenPlace/resources/img/placeholder/product4.jpg'); background-size: cover;">
					<div class="item-description">
						<h3>
							<a href="#">Cool Product - 40,00 &euro;</a>
						</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 search-wrapper">
				<div class="search-item"
					style="background-image: url('/GenPlace/resources/img/placeholder/product5.jpg'); background-size: cover;">
					<div class="item-description">
						<h3>
							<a href="#">Cool Product - 40,00 &euro;</a>
						</h3>
					</div>
				</div>
			</div>
		</div>
		
	</ui:define>
	
</ui:composition>

</h:body>
</html>
