<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
The template offers the following places to insert new information:
 + style
 + content
 -->

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<meta charset="utf-8" />
	<title>clothes you cannot buy anywhere</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Le styles -->
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="bootstrap-glyphicons.css" />
	<style type="text/css">
@font-face {
	font-family: headingFont;
	src: url('/GenPlace/resources/fonts/GillSansMTPro-Medium.eot');
	src: url('/GenPlace/resources/fonts/GillSansMTPro-Medium.otf');
}

/* Logo */
.logo {
	margin: 20px 0px;
	font-family: headingFont;
}

body {
	padding-top: 8px;
	padding-bottom: 60px;
	color: #222;
}

/* Custom container */
.container {
	margin: 0 auto;
	padding: 0;
	max-width: 1280px;
}

.row {
	margin:0;
}

.container>hr {
	margin: 60px 0;
}

.container-navigation {
	padding: 0px;
	border-style: none;
}

/* TAGs */
.tag-box {
	margin-top: 20px;
	padding-bottom: 14px;
	border: 1px solid #eee;
}

.tag-column {
	margin: 0 25px;
	padding-left: 20px;
	width: auto;
	float: left;
}

.tag-column ul {
	list-style-type: none;
	padding:0;
}

.tag-column ul li {
}

.tag-column ul li a {
	display: inline-block;
	height: 18px;
	padding: 0 2px 19px 2px;
	margin-left: 5px;
	text-decoration: none;
	color: #222;
}

.tag-column ul li a:visited {
	text-decoration: none;
	color: #222;
}

.tag-column ul li a:active {
	text-decoration: none;
	color: #222;
}

.tag-column ul li a:hover {
	background-color: #222;
	color: #fff;
}

.color-box {
	display: block;
	float:left;
	margin-left: -2px;
	height: 19px;
	width: 19px;
}

.result-box {
	font-size: 20px;
	margin: 15px 0;
	padding: 5px;
}

.filter-bar {
	display: block;
	margin-bottom:30px;
	background-color: #eee;
	border-radius: 0;
	font-family: headingFont;
	text-transform:uppercase;
	font-size: 14px;
	font-weight: bold;
}

.filter-bar ul {
	list-style: none;
	display: block;
	margin:0;
}

.filter-bar li {
	background-color: #eee;
	display: block;
	margin: 0;
}

.filter-bar li a {
	color: #222;
	background-color: #eee;
	padding: 10px 30px 5px 30px;
	float: left;
	font-weight: bold;
	text-align: center;
	border-left: 2px solid #fff;
	border-radius: 0;
}

.filter-bar li:last-child a {
	border-right: 2px solid #fff;
}

.filter-bar li a:hover {
	background-color: #222;
	text-decoration: none;
	color: #fff;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar {
	background-color: #222;
	min-height: 0;
	border-radius: 0;
	font-family: headingFont;
	text-transform:uppercase;
	font-size: 20px;
}

.navbar .navbar-inner {
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}

.navbar .nav li {
	background-color: #000;
}

.navbar .nav li a {
	color: #fff;
	background-color: #222;
	padding: 10px 30px 5px 30px;
	float: left;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid #fff;
	border-radius: 0;
}

.navbar .nav li a:hover {
	background-color: #fff;
}

#menu1:hover {
	background-color: #0ff;
}

#menu2:hover {
	background-color: #ff0;
}

#menu3:hover {
	background-color: #f0f;
}

#menu4:hover {
	background-color: #f77;
}

#menu5:hover {
	background-color: #7f7;
}

.navbar .nav li span a {
	font-size: 20px;
	padding-bottom: 0px;
}

.navbar .nav li span a:hover {
	background-color: #77f;
}

.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 0;
}

.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0;
}

.form-search {
	float: right;
}

.input-group {
	border-radius: 0;
}

.input-group input {
	font-size: 20px;
	padding: 10px 30px 5px 30px;
	height: 100%;
	border: 2px solid #222;
	border-right: 0;
	border-radius: 0;
}

.input-group input:focus {
	box-shadow: 0 0 0 #fff;
	border: 2px solid #222;
	border-right: 0;
	border-radius: 0;
}

.input-group button {
	background-color: #222;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding: 0px 10px 0px 10px;
	border: 2px solid #222;
	border-left: 0;
	border-radius: 0;
}

/* Search items */
.search-row {
	margin: 10px -5px;
}

.search-wrapper {
	margin:0;
	padding:0;
}

.search-item {
	height: 300px;
	margin: 0 5px;
	padding: 0;
	border: 1px solid #333;
}

.search-item .item-description {
	height: 53px;
	margin-top: 246px;
	border-top: 1px solid #333;
	padding: 13px 15px 15px 15px;
	background-color: rgba(0, 0, 0, .75);
}

.search-item .item-description h3 {
	margin: 0;
}

.search-item .item-description a {
	color: #ddd;
	text-decoration: none;
}

.search-item .item-description a:visited {
	color: #ddd;
}

.search-item .item-description a:hover {
	color: #fff;
}

.search-item .item-description a:active {
	color: #ddd;
}

/* Personal Bar */
.personal-bar ul {
	float:right;
}

.personal-list li {
	display: inline;
	list-style-type: none;
	font-family: headingFont;
}

.personal-list li a {
	padding: 8px 12px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	color: #222;
	height: 20px;
}

.personal-list li a:visited {
	text-decoration: none;
	color: #222;
}

.personal-list li a:active {
	text-decoration: none;
	color: #222;
}

.personal-list li a:hover {
	text-decoration: none;
	color: #ccc;
	border-bottom: 1px solid #222;
}

</style>
	<ui:insert name="style" />
	
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "d2192d10-8057-45d6-8805-ce93b0227489", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
		href="assets/ico/apple-touch-icon-144-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
		href="assets/ico/apple-touch-icon-114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
		href="assets/ico/apple-touch-icon-72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed"
		href="assets/ico/apple-touch-icon-57-precomposed.png" />
	<link rel="shortcut icon" href="assets/ico/favicon.png" />
</h:head>

<h:body>

	<div class="container">

		<div class="masthead">
			<ui:insert name="personalbar">
				<ui:include src="/sites/public/template/personalbar.xhtml" />
			</ui:insert>
			<ui:insert name="branding">
				<ui:include src="/sites/public/template/branding.xhtml" />
			</ui:insert>
			<ui:insert name="navbar">
				<ui:include src="/sites/public/template/navbar.xhtml" />
			</ui:insert>
		</div>
		
		<ui:insert name="content" />
	
		<hr />
		
		<ui:include src="/sites/public/template/footer.xhtml" />

	</div>

	<!-- Le javascript -->
	<!-- Placed at the end of the document so the pages load faster -->
	<h:outputScript library="js" name="bootstrap.min.js" />

</h:body>
</html>
