<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head></h:head>

<h:body>

	<ui:composition>
		<div class="navbar" style="padding:0;">
			<div class="navbar-inner">
				<div class="container container-navigation">
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a id="menu1" href="#buy">buy</a></li>
							<li><a id="menu2" href="#about">sell</a></li>
							<li><a id="menu3" href="#contact">about us</a></li>
							<li><a id="menu4" href="#about">login</a></li>
							<li><a id="menu5" href="#about" style="border-right:1px solid #fff">register</a></li>
							<li>
								<h:form id="search-form" class="form-search" style="border-left:1px solid #fff">
									<div class="input-group">
										<p:inputText type="text" styleClass="form-control" placeholder="e.g. red stripped shoes" 
											value="#{searchView.searchQuery}" onkeypress="if (event.keyCode == 13) { document.getElementById('search-form:submit-search').click(); return false; }"/>
										<span class="input-group-btn">
											<h:commandLink id="submit-search" styleClass="btn btn-default" type="button" 
												action="#{searchView.navigate}" ajax="false">
												<span class="glyphicon glyphicon-search" style="display:block;"></span>
												<f:param name="q" value="#{searchView.searchQuery}" />
												<f:param name="t" value="#{searchView.searchTags}" />
												<f:param name="o" value="#{searchView.searchOrder}" />
											</h:commandLink>
										</span>
									</div>
								</h:form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</ui:composition>

</h:body>
</html>
