<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head></h:head>

<h:body>

	<ui:composition>
		<div class="row personal-bar">
			<ul class="personal-list pull-right">
				<li><a href="#buy">login</a></li>
				<li><a href="#about">signup</a></li>
			</ul>
		</div>
	</ui:composition>

</h:body>
</html>
