<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<meta charset="utf-8" />
</h:head>

<h:body>

<ui:composition template="/sites/public/template/masterTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	
	<ui:define name="content">
	
		<!-- Tags -->
		<div class="row tag-box">
			<div class="tag-column">
				<h3>Colors</h3>
				<ul>
				    <li><a href="#"><span class="color-box" style="background-color:#000;" /> (10998)</a></li>
				    <li><a href="#"><span class="color-box" style="background-color:#eee;" /> (3450)</a></li>
				    <li><a href="#"><span class="color-box" style="background-color:#d22;" /> (2901)</a></li>
				    <li><a href="#"><span class="color-box" style="background-color:#25e;" /> (1044)</a></li>
				    <li><a href="#"><span class="color-box" style="background-color:#2c2;" /> (502)</a></li>
				    <li style="font-weight:bold;"><a href="#"><em>more &raquo;</em></a></li>
				</ul>
			</div>
			<div class="tag-column">
				<h3>Brands</h3>
				<ul>
					<li><a href="#">H&amp;M (31545)</a></li>
				    <li><a href="#">Zara (21843)</a></li>
				    <li><a href="#">Forever 21 (11814)</a></li>
				    <li><a href="#">Topshop (9018)</a></li>
				    <li><a href="#">Asos (6234)</a></li>
				    <li style="font-weight:bold;"><a href="#"><em>more &raquo;</em></a></li>
				</ul>
			</div>
			<div class="tag-column">
				<h3>Categories</h3>
				<ul>
					<li><a href="#">Shirts (49593)</a></li>
				    <li><a href="#">Bags (40819)</a></li>
				    <li><a href="#">Jewelry (36722)</a></li>
				    <li><a href="#">Dresses (34397)</a></li>
				    <li><a href="#">Tops (31809)</a></li>
				    <li style="font-weight:bold;"><a href="#"><em>more &raquo;</em></a></li>
				</ul>
			</div>
			<div class="tag-column">
				<h3>Materials</h3>
				<ul>
					<li><a href="#">Denim (26363)</a></li>
				    <li><a href="#">Leather (12811)</a></li>
				    <li><a href="#">Lace (4567)</a></li>
				    <li><a href="#">Fur (2072)</a></li>
				    <li><a href="#">Silk (1665)</a></li>
				    <li style="font-weight:bold;"><a href="#"><em>more &raquo;</em></a></li>
				</ul>
			</div>
			<div class="tag-column">
				<h3>Patterns</h3>
				<ul>
				    <li><a href="#">Striped (5833)</a></li>
				    <li><a href="#">Floral (4791)</a></li>
				    <li><a href="#">Leopard (3414)</a></li>
				    <li><a href="#">Polka Dot (2439)</a></li>
				    <li><a href="#">Plaid (1733)</a></li>
				    <li style="font-weight:bold;"><a href="#"><em>more &raquo;</em></a></li>
				</ul>
			</div>
			<div class="tag-column">
				<h3>Location</h3>
				<ul>
					<li><a href="#">Los Angeles (6926)</a></li>
				    <li><a href="#">New York (6827)</a></li>
				    <li><a href="#">Manila (5758)</a></li>
				    <li><a href="#">London (5211)</a></li>
				    <li><a href="#">California (4488)</a></li>
				    <li style="font-weight:bold;"><a href="#"><em>more &raquo;</em></a></li>
				</ul>
			</div>
		</div>


		<p:outputPanel style="display:block" styleClass="row result-box" rendered="#{searchView.renderSearchResultDescription()}">
			 "<h:outputText value="#{searchView.searchQuery}" />" // <h:outputText value="#{searchView.products.size()}" /> items found
		</p:outputPanel>

		<div class="row filter-bar">
			<ul>
				<li><a href="#">By Price Ascending</a></li>
				<li><a href="#">Men</a></li>
			</ul>
		</div>


		<!-- Search result display -->
		<div class="row search-row">
			<ui:repeat value="#{searchView.products}" var="product" varStatus="loop">
				<!-- Create a new row every 3 items -->
				<h:outputText value="&lt;/div&gt;&lt;div class=&quot;row search-row&quot;&gt;"
					escape="false" rendered="#{not loop.first and loop.index % 3 == 0}" />
					
				<div class="col-lg-4 search-wrapper">
					<div class="search-item" style="background-image: url('/GenPlace/resources/img/placeholder/product#{loop.index % 5 + 1}.jpg');
						background-size: cover;">
						<div class="item-description">
							<h3><h:outputLink value="#">
								<h:outputText value="#{product.title} - #{product.price / 100} €" />
							</h:outputLink></h3>
						</div>
					</div>
				</div>
			</ui:repeat>
		</div>

		</ui:define>
	
</ui:composition>

</h:body>
</html>
