<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<meta charset="utf-8" />
</h:head>

<h:body>

	<ui:composition template="/sites/public/template/masterTemplate.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:c="http://java.sun.com/jstl/core">

		<ui:define name="content">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">PRODUCT NAME</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<!-- Image Carousel -->
							<p:galleria
								value="#{productDetailServiceImpl.getGalleriaPictures()}"
								var="image" panelWidth="500" panelHeight="313"
								showCaption="true">
								<p:graphicImage
									value="C:/daten/tuwien/ASE_v2/project/genplace2.0/src/main/webapp/resources/img/product/#{image}"
									alt="Here are some pictures bro!" title="#{image}" />
							</p:galleria>
						</div>
						<div class="col-md-8">
							<div class="well">TEST</div>
						</div>
					</div>
				</div>
			</div>
			<div class="well">
				<span class='st_sharethis_large' displayText='ShareThis'></span> <span
					class='st_facebook_large' displayText='Facebook'></span> <span
					class='st_twitter_large' displayText='Tweet'></span> <span
					class='st_linkedin_large' displayText='LinkedIn'></span> <span
					class='st_pinterest_large' displayText='Pinterest'></span> <span
					class='st_email_large' displayText='Email'></span>
			</div>        
		</ui:define>

	</ui:composition>

</h:body>
</html>
