<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<meta charset="utf-8" />
</h:head>

<h:body>

	<ui:composition template="/sites/public/template/masterTemplate.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:c="http://java.sun.com/jstl/core">

		<ui:define name="content">

			<h:form id="wizard" enctype="multipart/form-data">
				<p:growl id="growl" sticky="true" showDetail="true" />

				<p:wizard id="wiz" widgetVar="wiz">

					<!--Basic Product Tab Start -->
					<p:tab id="productWizardBasicTab"
						title="#{lang['product.TabBasicProduct']}">
						<p:panel header="#{lang['product.header']}">
							<h:panelGrid id="basic" columns="2" columnClasses="label, value"
								styleClass="grid">
								<h:outputText value="#{lang['product.productname']}" />
								<p:inputText id="productName" label=""
									value="#{productServiceImpl.instance.title}" required="true" />

								<h:outputText value="#{lang['product.description']}" />
								<p:inputText id="productDescription" label=""
									value="#{productServiceImpl.instance.description}"
									required="true" />

								<!-- 								<h:outputText value="#{lang['product.tags']}" /> -->
								<!-- 								<p:inputText id="productTags" label="" value="" required="true" /> -->

								<h:outputText value="#{lang['product.price']}" />
								<p:inputText id="productPrice" label=""
									value="#{productServiceImpl.instance.price}" required="true" />

							</h:panelGrid>
						</p:panel>
					</p:tab>
					<!--Basic Product Tab End -->

					<!--Image Tab Start -->
					<p:tab id="productWizardImageTab"
						title="#{lang['product.TabProductImages']}">
						<p:panel header="#{lang['product.UploadImageHeader']}">

							<h:messages errorClass="error" />
							<p:messages autoUpdate="true" closable="true" />
							<h:panelGrid columns="2" columnClasses="label, value"
								styleClass="grid">

								<p:fileUpload id="fileUpload"
									fileUploadListener="#{productService.handleFileUpload}"
									mode="advanced" update="messages" sizeLimit="3000000"
									allowTypes="/(\.|\/)(jpe?g|png)$/" />

								<p:growl id="messages" showDetail="true" />

							</h:panelGrid>
						</p:panel>
					</p:tab>
					<!--Basic Image Tab End -->

					<!--Basic Special Tab Start -->
					<p:tab id="productWizardSpecialTab"
						title="#{lang['product.TabSpezialization']}">
						<p:panel>
lol1
						</p:panel>
					</p:tab>
					<!--Basic Special Tab End -->

					<!--Product Wizard Tag Tab Start -->
					<p:tab id="productWizardTagTab" title="#{lang['product.TabTags']}">
						<p:panel>
lol2
						</p:panel>
					</p:tab>
					<!--Product Wizard Tag Tab End -->

					<!--Product Wizard Share Tab Start -->
					<p:tab id="productWizardShareTab"
						title="#{lang['product.ShareTab']}">
						<p:panel>
lol3
						</p:panel>
					</p:tab>
					<!--Product Wizard Share Tab End -->

					<!--Product Wizard Submit Tab Start -->
					<p:tab id="productWizardSubmitTab"
						title="#{lang['product.Submit']}">
						<p:panel>
							<h:panelGrid id="submitButtonGrid">
								<p:commandButton id="submitButton" value="Submit" update="growl"
									action="#{productServiceImpl.persistProduct}" />
							</h:panelGrid>
						</p:panel>
					</p:tab>

				</p:wizard>
			</h:form>

		</ui:define>
	</ui:composition>

</h:body>

</html>